{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/alumni_dashboard.css' %}?v=1">

<h2 class="dashboard-title">Alumni Dashboard</h2>
<h3>Mentorship Requests</h3>

{% for req in requests %}
    <div class="request-card">
        <p>
            <strong>Student:</strong> {{ req.student.username }} <br>
            <strong>Status:</strong> {{ req.get_status_display }}
        </p>

        
        <a href="{% url 'view_profile' req.student.profile.id %}" class="viewProfile">
            View Student Profile
        </a>

       <div class="request-footer">

    {% if req.status == 'pending' %}
        <div class="request-actions">
            <a class="accept-link" href="{% url 'accept_mentorship' req.id %}">
                ✔ Accept
            </a>
            <a class="decline-link" href="{% url 'decline_mentorship' req.id %}">
                ✖ Decline
            </a>
        </div>

    {% elif req.status == 'accepted' %}
        <div class="status accepted">✔ Mentorship Accepted</div>

    {% elif req.status == 'declined' %}
        <div class="status declined">✖ Mentorship Declined</div>
    {% endif %}

</div>

    </div>

{% empty %}
    <p>No mentorship requests yet.</p>
{% endfor %}

{% endblock %}
