<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Alumni Project Connect{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>

<!-- ================= HEADER ================= -->
<header class="header">
    <div class="logo">
        Alumni<span>Connect</span>
    </div>

    <nav class="navbar">
        
        {% if user.is_authenticated %}
<a href="{% url 'edit_profile' %}">Edit Profile</a>
            {% if user.profile.role == 'student' %}
                <a href="{% url 'student_dashboard' %}">Dashboard</a>
                <a href="{% url 'student_projects' %}">Projects</a>
                
            {% endif %}

            {% if user.profile.role == 'alumni' %}
                <a href="{% url 'alumni_dashboard' %}">Dashboard</a>
                 <a href="{% url 'alumni_dashboard' %}">Alumni Dashboard</a>
    <a href="{% url 'alumni_projects' %}">Projects</a>
            {% endif %}

            {% if user.profile.role == 'faculty' %}
                <a href="{% url 'faculty_dashboard' %}">Dashboard</a>
                <a href="{% url 'create_project' %}">Create Project</a>
                <a href="{% url 'faculty_projects' %}">My Projects</a>
            {% endif %}

            <span class="user-info">
                {{ user.username }}
            </span>

            <a href="{% url 'logout' %}" class="logout-btn">Logout</a>

        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}" class="register-btn">Register</a>
        {% endif %}
    </nav>
</header>

<!-- ================= MAIN CONTENT ================= -->
<main class="main-content fade-in">
    {% block content %}
    {% endblock %}
</main>

<!-- ================= FOOTER ================= -->
<footer class="footer">
    <p>© 2026 Alumni Project Connect</p>
    <p>Built with Django | Students • Alumni • Faculty</p>
</footer>

</body>
</html>