{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/edit_profile.css' %}?v=1">

<!-- TECH BACKGROUND (same as login) -->
<div class="tech-bg"></div>

<div class="profile-wrapper">
    <div class="profile-card">
        <h2 class="profile-title">Edit Profile</h2>

        <form method="post" class="profile-form">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn-primary">
                Save Profile
            </button>
        </form>
    </div>
</div>
{% endblock %}
