{% extends 'base.html' %}
{% load static %}

{% block body_class %}auth-page{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">

<div class="auth-wrapper">
    <div class="auth-card">
        <h2>Register</h2>

        <form method="post">
            {% csrf_token %}

            <input type="text" name="username" placeholder="Username">

            <select name="role">
                <option value="student">Student</option>
                <option value="alumni">Alumni</option>
                <option value="faculty">Faculty</option>
            </select>

            <input type="password" name="password" placeholder="Password">

            <button type="submit">Register</button>
        </form>
    </div>
</div>
{% endblock %}

   